body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/wall-stats2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Bahnschrift;
}

.banner {
    position: sticky;
    top: 0px;
    height: 65px;
    z-index: 100;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}


.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 65px;
}

.banner h2{
    color: white;
    font-family: Bahnschrift;
    margin-left: 40%;
    margin-bottom: 50%;
    display: inline-block;
}

.banner h2 sub{
    color: white;
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: lighter;
    margin-left: 15px;
    display: inline-block;
}

@media only screen and (max-width:768px) {
    [class*-"col-"] {
        width: 80%;
    }
}

.okay {
    padding: 20px;
    box-radius: 25px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6), 0 1px 6px rgba(0, 0, 0, 0.6);
    opacity: 0.95;
    background: white;
    margin: 40px;
    margin-left: 25%;
}

.col-6 {width: 50%;}


.grow {
    transition: all .3s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}